*{
  font-family: 'Open Sans', helvetica , sans-serif;
}

.pattern-party-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2F2235;
}

.pattern-h1{
  color: #F2F2F2;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 5%;
}

.party-span{
  color: #34D1D1;
}

.top-header-name{
  color: #f2f2f2;
  font-weight: 600;
  font-size: 1.3em;
  margin-right: 5%;
}
